<template id="login-modal-template">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="/components/LoginModal/LoginModal.css">

    <p class="login-modal-opener">Click here to login</p>
    <div class="dark-shadow cover-screen login-modal-popup-background hidden">
        <div class="login-modal-popup">
                <h1 class="login-modal-header">Login to "Demo Shop"</h1>
                <form class="login-modal-form">
                    <div class="login-modal-login-wrapper">
                        <label for="login" class="login-modal-label">Your Login:</label>
                        <input class="login-modal-login standart-input" id="login" placeholder="Enter your Login..." required maxlength="10" minlength="3" type="text">
                    </div>
                    <div class="login-modal-password-wrapper">
                        <label for="password" class="login-modal-label">Your Password:</label>
                        <input class="login-modal-password standart-input" id="password" placeholder="Enter your Password..." required minlength="5" type="password">
                    </div>                    
                    <div class="login-modal-submit-wrapper">
                        <input class="login-modal-submit rectangle-button" type="submit" onclick="return false;" value="Submit">
                    </div>
                </form>     
        </div>
    </div>
    
</template>
<script src="/components/LoginModal/LoginModal.js"></script>