.login-modal-opener{
    font-size: 2em;
    color: #000000;
    cursor: pointer;
}
.login-modal-popup-background{
    justify-content: center;
    align-items: center;
    display: flex;
 }

.login-modal-popup *{
    cursor: default;
}

@media (max-width:480px){
    .login-modal-popup{
       border-radius: 0;
       width:480px;
    }     
}
@media (min-width:480px){
    .login-modal-popup{
       width:50%;
    }    
}
.login-modal-popup{
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
    border-radius: 15px;
    border-color: #000000;
    color: #000000;
    overflow: hidden;
    flex-direction: column;
    min-width: 350px;
    max-width: 500px;
}

.login-modal-header{
    text-align: center;
    background-color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    font-size: 1.5em;
    margin: 0;
}
.login-modal-form{
    display: flex;
    background-color: rgb(226, 222, 222);
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}
.login-modal-form input:focus{
    outline: none;
}
.login-modal-form input:active{
    border:none;
    outline: none;
}
.login-modal-label-wrapper{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    height: 40px;
}
.login-modal-label {
    margin-top: 10px
}
.login-modal-login-wrapper, .login-modal-password-wrapper{
    display: flex;
    flex-direction: column;
    width:80%;
}
.login-modal-login, .login-modal-password {
    padding-right: 36px;
    cursor: text;
}
.login-modal-login {
    background: #fff url(/images/login-inactive.svg)no-repeat 97% center;
}
.login-modal-login:focus {
    background: #fff url(/images/login-active.svg)no-repeat 97% center;
}
.login-modal-login:invalid {
    background: #fff url(/images/login-invalid.svg)no-repeat 97% center;
}
.login-modal-password {
    background: #fff url(/images/password-inactive.svg)no-repeat 95% center;
    background-size: 8%;
}
.login-modal-password:focus {
    background: #fff url(/images/password-active.svg)no-repeat 95% center;
    background-size: 8%;
}
.login-modal-password:invalid {
    background: #fff url(/images/password-invalid.svg)no-repeat 95% center;
    background-size: 8%;
}
.login-modal-submit-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.login-modal-submit {
    width: 160px;
    height: 32px;
    font-size: 20px;   
    margin-top: 15px;
    cursor: pointer;

}