<template id="text-modal-template">
    <link rel="stylesheet" href="/components/TextModal/TextModal.css">
    <link rel="stylesheet" href="common.css">


    <p class="text-modal-opener">Click here to open</p>
    <div class="dark-shadow flex cover-screen text-modal-popup-background hidden">
        <div class="flex text-modal-popup">
                <h1 class="text-modal-header">Component header Quisque rutrum erat sit amet augue tincidunt iaculis. Nunc vitae lacus hendrerit, </h1>
                <div class="flex text-modal-text-wrapper">
                    <p class="text-modal-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis ornare nibh, eget efficitur lectus pellentesque non. Ut sagittis arcu mattis nibh fermentum fermentum. Donec aliquet nec est sit amet placerat. Nulla feugiat hendrerit quam sed ultricies. Etiam semper nibh vitae mi rhoncus, ac condimentum erat volutpat. Sed porttitor facilisis est non laoreet. Donec tempor velit at viverra placerat. Donec nec tempus erat, vitae imperdiet risus.</p>   
                    <p class="text-modal-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis ornare nibh, eget efficitur lectus pellentesque non. Ut sagittis arcu mattis nibh fermentum fermentum. Donec aliquet nec est sit amet placerat. Nulla feugiat hendrerit quam sed ultricies. Etiam semper nibh vitae mi rhoncus, ac condimentum erat volutpat. Sed porttitor facilisis est non laoreet. Donec tempor velit at viverra placerat. Donec nec tempus erat, vitae imperdiet risus.</p>   
                    <p class="text-modal-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis ornare nibh, eget efficitur lectus pellentesque non. Ut sagittis arcu mattis nibh fermentum fermentum. Donec aliquet nec est sit amet placerat. Nulla feugiat hendrerit quam sed ultricies. Etiam semper nibh vitae mi rhoncus, ac condimentum erat volutpat. Sed porttitor facilisis est non laoreet. Donec tempor velit at viverra placerat. Donec nec tempus erat, vitae imperdiet risus.</p>   
                </div>       
        </div>
    </div>
    
</template>
<script src="/components/TextModal/TextModal.js"></script>